@import './settings.scss';

#app-container {
    padding-top: 60px;
    width:100%;
    height: 100%;
    max-height:100%;
    min-width: 400px;
    min-height: 750px;
    // background: linear-gradient(to top, rgb(176, 196, 184), rgb(98, 145, 98));
    background: linear-gradient(to top, rgb(202, 206, 167), rgb(182, 198, 53));

    #app {
        position: relative;
        display: block;
        font-family: $font-standard;
        text-align: center;
        color: $main-color;
        margin-top: 20px;
        font-size: 14px;
        height: 100%;
        max-width: 100%;
        min-width: 100%;
        overflow: hidden;

        .home-box{
            width: 100%;
            height: 600px;
            padding-top: 50px;
            background-image: url('assets/tennis-background.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            filter: grayscale(50%);

            p.welcome-text {
                font-size: 60px;
                text-shadow: #e2e2e2 1px 0 10px;
                margin-top: -40px;
                margin-bottom: 20px;
                background: rgba(204, 204, 204, 0.8);
                
                &.small-margin-top{
                    margin-top: 75px;
                }
            }
    
            table.ranking-list{
                display: flex;
                flex-direction: column;
                width: fit-content;
                margin: 0 auto;
                text-shadow: #e2e2e2 1px 0 10px;
                background: rgba(204, 204, 204, 0.8);

                th.ranking-row-title{
                    font-size: 28px;
                    font-weight: bold;
                    background: rgba(124, 124, 124, 0.8);
                }

                tr.ranking-row-header{
                    display: flex;
                    flex-direction: row;
                    color: #000;
                    font-size: 20px;
                    font-weight: bold;
                    background: rgba(160, 160, 160, 0.8);

                    td{
                        display: flex;
                        &:nth-child(1){
                            flex: 2 1 0;
                        }
                        &:nth-child(2){
                            flex: 8 1 0;
                        }
                        &:nth-child(3){
                            flex: 4 1 0;
                        }
                        &:nth-child(4){
                            flex: 5 1 0;
                        }
                        &:nth-child(5){
                            flex: 2 1 0;
                        }
                    }
                }

                tr.ranking-list-elem {
                    display: flex;
                    width: 800px;
                    color: #000;
                    font-size: 18px;
                    font-weight: bold;

                    &:nth-of-type(even) {
                        background: rgba(212, 212, 212, 0.8);
                    }

                    td.ranking-row-item{
                        display: flex;
                        padding: 2px 0 2px 0;

                        &:nth-child(1){
                            flex: 2 1 0;
                        }
                        &:nth-child(2){
                            flex: 8 1 0;
                        }
                        &:nth-child(3){
                            flex: 4 1 0;
                        }
                        &:nth-child(4){
                            flex: 5 1 0;
                        }
                        &:nth-child(5){
                            flex: 2 1 0;
                        }
                    }
                }
            }
        }

        .component-fade-enter-active, .component-fade-leave-active {
            transition: opacity .2s ease;
        }
        .component-fade-enter, .component-fade-leave-to
        /* .component-fade-leave-active below version 2.1.8 */ {
            opacity: 0;
        }
        .home-elems-enter-active {
            transition: opacity .2s ease;
        }
        .home-elems-enter
        /* .component-fade-leave-active below version 2.1.8 */ {
            opacity: 0;
        }
    }
}